---
title: {{name}} has new version
assignees: {{assignee}}
labels: formula, update, automation
---

{{name}} Needs Update

- [ ] Update `.data/formula.json` with new version info
- [ ] Update `Formula/{{n}}/{{name}}.rb` to point to new version

```json
{
    "owner": "{{owner}}",
    "repo": "{{repo}}",
    "formula": "{{name}}",
    "tag": "{{tag}}",
    "sha256": "{{sha256}}"
}
```
